

.banner{
    
    top: 0px;
    width: 100%;
    height: 500px;
    animation: banner 20s infinite linear alternate;
    -webkit-animation: banner 20s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(10, 12, 15) 5px 5px 10px;
}

@keyframes banner{
    0%, 20%{
        background-image: url(../img_banner/1.jpg);
    }
    25%, 45%{
        background-image: url(../img_banner/2.jpg);
    }
    50%, 70%{
        background-image: url(../img_banner/3.jpg);
    }
    75%, 100%{
        background-image: url(../img_banner/4.jpg);
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
}

.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.info h4{
    color:rgb(253, 253, 253);
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 1px;  /*especio de letra*/
    text-align :center;
    

}

.info p{
    color: #c7c7c7;
    font-family: sans-serif;
    line-height: 1.7; /*especio en el parrafo*/
    margin-bottom: 30px;
    text-align : center;
}
.info a{
    color: #fff;
    text-decoration: none;
    background: #3088e0;
    padding: 16px 37px;
    display:inline-block;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}

.info a:hover{
    background: #62e030;
}

.venci img {
    display: inline-block;
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}