/* para resetear valores en la pagina*/
    html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
/*fin del reseteo */

body{
    font-size: 62.5%;
}
h1{
     font:normal 2.4em Verdana, Geneva, sans-serif;
     font-size: 5;
     background: -webkit-linear-gradient(rgb(137, 182, 202), rgb(66, 88, 119));
     width: 30%;
     text-align: center;
     padding: 7px; /*espagio arriba y abajo*/
     color: white;
     box-shadow: rgb(20, 47, 85) 5px 5px 10px; /*para la sombra donde se da el color, tamaño x, tamaño y , y el difuminado*/
     text-shadow: rgb(18, 18, 19) 2px 2px 5px;
     border-radius:10 ;
     -webkit-border-radius:10 ;
     -moz-border-radius:10 ;
     -ms-border-radius:10 ;
     -o-border-radius:10 ;
     margin: 15px auto;
}

h2{
    font: bold 1.7em Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 5px 0  0px; /* datos de arriba, abajo e izquierda */
    color: black;
}
section{
    width: 90%;
    border-top: 1px dashed darkslategrey;
    margin: 15px auto; /* margen de 15 arriba y abajo y lo que es izq y derecha lo distribuya automaticamente*/
}

figure{
    float: left; /* le digo que lo sigue de informacion lo rodee*/
}

figure img{
    padding: 4px;
    /*creounespacioalrededordelaimagen*/background: rgb(21, 24, 41);
    border-radius:20 ;
    -webkit-border-radius:20 ;
    -moz-border-radius:20 ;
    -ms-border-radius:20 ;
    -o-border-radius:20 ;
    transition: transform 0.3s ;
    /*transition: transform 0.3s ease-in-out 0.1s;
    seseaumentaeaseescuantotardaalagrandarcomoalrestablecer*//*paraquealtransformarsetarde0.3segundosyseveabiencunadotrabajeconhover(masabajo)*/-webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s ;
    -ms-transition: transform 0.3s ;
    -o-transition: transform 0.3s ;
    -webkit-transition: transform 0.3s ;
}

figure img:hover{
    /*seaplicaninstruccionesparaelestadohover(envcima)perosoloparalasimgqueestendentrodefigure*/transform: ;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}